<fieldset>

  <input class="title" type="text" placeholder="title" />

  <button class="record"></button>

  <br />

  <ul class="keyboard">
  </ul>

  <input type="submit" value="submit" />

</fieldset>